@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

:root {
    /* main UI color */
    --plyr-color-main: #ffffff;
    /* audio controls background */
    --plyr-audio-controls-background: black;
    /* audio controls color */
    --plyr-audio-control-color: white;
    /* font family for player */
    --plyr-font-family: var(--primaryfont);
    /* font size of player  */
    --plyr-font-size-time: 16px;
    /* Other optional customiziations */
    --plyr-audio-control-color-hover: black;
    --plyr-audio-progress-buffered-background:  black;
    --plyr-audio-range-track-background: #86766E;
    --plyr-tooltip-background: white;
    --plyr-tooltip-color: black; 
    --plyr-control-icon-size: 16px;
  
  --primaryfont: "Reddit Mono";
  --color1 : white;
}


.plyr__controls {
  border: 1px solid white;
  border-radius: 25px;
}

body {
background-color:hsla(18,10%,48%,1);
background-image:
radial-gradient(at 1% 64%, hsla(24,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 9% 10%, hsla(0,0%,85%,1) 0px, transparent 50%),
radial-gradient(at 93% 52%, hsla(240,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 92% 92%, hsla(0,1%,72%,1) 0px, transparent 50%);
  
font-family: var(--primaryfont);
color: var(--color1);
}

h1 {
  text-align: center;
   margin-bottom: -15px;
}

h2{
  text-align: center;
}

h3 {
  font-weight: 600;
}

p:hover {
  color: #021688;
  background: white;
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 65em;
    margin-inline: auto;
    padding: 50px;

    background: black;
    border: solid #CFCDCC;
}

main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
    margin: auto
}

img {
 border: solid #CFCDCC;
}

/* Primary Content */
article {
    /* flow content horizontally */
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

article section {
    /* keep flex'd child same width */
    flex: 1;
}

/* Footer */
footer {
    text-align: center;
}

a { 
  color: lightblue;
}

/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
    }
}